
.container {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: -1;
}

.svg {
  width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 70px;
    top: -40px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 60px;
    top: -30px;
  }
}